.model-list(ng-controller="ModelListCtrl")

  h1(ng-hide="action.options.hideHeader") {{ section.label }} <i class="fa fa-chevron-right spacer"></i> {{ filterDescription }}
  
  .grid-container.chart(ng-show="action.options.chart")
    h2(ng-show="action.options.chart") {{ action.options.chart.title }}
    .chart(ng-show="action.options.chart", google-chart, chart="chart", ng-style="{ height: action.options.chart.height + 'px'}")
  
  .grid-container.list(ng-style="{ 'margin-top': gridContainerTopMargin +'px'}")
    h2 {{ filterDescription }}
      .btn-group
        button.btn.btn-default(ng-click="clickListButton(button)", ng-repeat-start="button in action.options.buttons", ng-repeat-end, ng-if="hasButtonPermission(button)") <i ng-if="button.icon" class="fa {{ button.icon }}"></i> {{ button.title }}
        button.btn.btn-default.add(ng-click="clickAdd()", ng-if="action.options.editable && !action.options.disableAdd") <i class="fa fa-plus"></i>      
    .grid(ng-grid="gridOptions", ng-class="{ search: action.options.showFilter }")
    .edit-controls(ng-show="isEditing")
      button.btn.btn-primary.save(ng-click="clickSaveEdit()") {{ saveButtonText || 'Save' }}
      button.btn.btn-danger.cancel(ng-click="clickCancelEdit()") {{ cancelButtonText || 'Cancel' }}

