.modal-header
  h4.modal-title {{ alertTitle }}
.modal-body {{ alertMessage }}
.modal-footer(ng-show="allowAlertClose || isConfirm")
  button.btn.btn-default(ng-click="closeAlert()", ng-show="!isConfirm && allowAlertClose") Close
  button.btn.btn-default(ng-click="okAlert()", ng-show="isConfirm") OK
  button.btn.btn-default(ng-click="cancelAlert()", ng-show="isConfirm") Cancel
