.modal-content
  //overflow: hidden
.modal-header
  border-bottom: none
  background-color: #efefef
  overflow: hidden
  border-radius: 6px 6px 0 0
  h4
    float: left
  .btn-group
    float: right
    margin-top: -5px
.modal-body
  background-color: #fff
.modal-footer
  border-top: solid 1px #efefef
  overflow: hidden
  