.modal-header
  h4.modal-title {{ alertTitle }}
.modal-body {{ alertMessage }}
.modal-footer(ng-show="allowAlertClose")
  button.btn.btn-default(ng-click="closeAlert()", ng-show="allowAlertClose") Close
