.model-nav(ng-controller="ModelNavCtrl")

  // h1 {{ section.label }} <i class="fa fa-chevron-right spacer"></i> {{ action.label }}

  #navigation
  div.save-button
    .col-md-2 &nbsp;
    .col-md-10
      button.btn.btn-default(ng-click="clickSave()") Save