model-field-canvas-edit
  canvas
    border solid 1px #ddd
    vertical-align top
  button
    display inline-block
    vertical-align top
    margin-left 10px
  .disabled-div
    display inline-block
    width 300px
    height 150px
    background-color #efefef
    border solid 1px #d0d0d0
    vertical-align top
    padding-left 5px
    color #d0d0d0
