.model-sort
  min-width: 320px
  h1
    margin: 10px 0
    padding: 0 0
    vertical-align: middle
    line-height: 40px
    font-size: 20px
    font-weight: 600
    .spacer
      font-size: 10px
      vertical-align: middle
      padding: 0 10px 
  ul
    list-style: none
    margin: 0 10px
    padding: 0 0
    li
      position: relative
      border: solid 1px #dedede
      border-width: 1px 1px 0 1px
      padding: 0px 10px
      line-height: 44px
      background-color: #fefefe
      cursor: move
      clear: both
      .fa-reorder
        color: #eee
      .title
        position: absolute
        display: block
        top: 0
        bottom: 0
        left: 30px
        right: 119px
        text-overflow: ellipsis
        overflow: hidden
      .action
        float: right
        a
          cursor: pointer
          text-align: center
        a.up
          display: inline-block
          width: 32px
        a.down
          display: inline-block
          width: 32px
        a.edit
          display: inline-block
          width: 55px
    li:last-child
      border-width: 1px 1px
  .save-sort-button
    margin: 20px 10px