form.form-horizontal.model-edit(name="form", ng-controller="ModelEditCtrl", validate)

  .item.form-group(ng-repeat="key in modelDisplay", ng-if="hasPermission(key)")
    model-field-edit(key="key", model="model", ng-model="data")
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(ng-click="clickSaveModel(data)", ng-disabled="form.$invalid", ng-hide="isLoading") {{saveButtonText || "Save"}}
      button.btn.btn-danger.delete-button(ng-click="clickDeleteModel(data)", ng-show="!isLoading && isEdit && !action.options.hideDelete") {{deleteButtonText || "Delete"}}
      //.error {{ form.$error }} //debug form errors
