.dashboard .content
  padding 25px 25px

.model-edit
  max-width 768px
  .delete-button
    float right
  
.date-picker
  max-width: 220px
  table
    outline none
    thead, tbody, th, td
      background-color #fff
      border none
      padding: 0 0
    .btn
      background-image: none
      border: 0
      box-shadow: none
.multi-select
  .select-item
    display: block
    line-height: 30px
    .checkbox-label
      font-weight: 400

.model-field-description
  padding: 10px 5px


@import ModelEditSaveDialog

