model-field-reference-edit
  display block
  height auto
  border-radius 4px
  .close
    padding-top 2px
  .ui-select-multiple.ui-select-bootstrap
    height 33px
  .ui-select-multiple.ui-select-bootstrap input.ui-select-search
    position absolute