model-field-reference-edit
  display block
  height auto
  border-radius 4px
  .close
    padding-top 2px
  .ui-select-multiple.ui-select-bootstrap
    height 33px
  .ui-select-multiple.ui-select-bootstrap input.ui-select-search
    position absolute
  .dropdown
    padding-bottom: 1px;
model-field-reference-edit.ng-valid.ng-valid-required
  .ui-select-container.ui-select-multiple.ui-select-bootstrap.dropdown.form-control.ng-valid.ng-not-empty
    height: auto;