model-field-edit.error
  .error-message
    background-color #FAD3CF
    border 1px solid #d63e2f
    color #d63e2f
    border-radius 3px
    padding 2px 5px
    display inline-block
    font-size smaller
    position absolute
    left 1px
    top -30px
    z-index 2
    &:after
      display block
      width 8px
      height 8px
      border 1px solid transparent
      border-bottom-color #d63e2f
      border-right-color #d63e2f
      position absolute
      content ""
      top 18px
      left 20px
      transform: rotate(45deg)
      background-color #fad3cf