.login
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #f4f4f4
  form
    max-width: 420px
    margin: auto auto
    padding: 20px 20px
    text-align: center
  h1
    margin: 0 0
    padding: 54px 0
    color: #4483c5
    font-size: 35px
    font-weight: 300
  input
    margin: 16px auto
    padding: 0 16px
    display: block
    width: 80%
    height: 44px
    font-size: 18px
    font-weight: 300
    color: #666
    background-color: #fff
    border: 0
    border-radius: 5px
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1)
    outline: none
  ::-webkit-input-placeholder
    color: #aaa
  :-moz-placeholder /* Firefox 18- */
    color: #aaa
  ::-moz-placeholder /* Firefox 19+ */
    color: #aaa
  :-ms-input-placeholder  
    color: #aaa
  button
    margin-top: 40px
    width: 60%
    height: 44px
    background-color: #4483c5
    color: #fff
    font-size: 18px
    font-weight: 300
    outline: none
    &:hover
      color: #fff
    &:focus, &:active
      outline: none
      color: #fff

  a 
    margin: 0 0
    padding: 34px 34px
    font-size: 12px
    