.login
  form
    h1 LOGIN
    input(type="email", placeholder="E-mail", ng-model="login.email")
    input(type="password", placeholder="Password", ng-model="login.password")
    button.btn(type="submit", ng-click="clickLogin()") Log In
